body {
	background-color: #eee;
}

hr {
	background-color:#000;
	height: 1px;
}

.introduction {
	background-color: black;
	margin-bottom: 10px;
}

.name {
	color: white;
	font-size: 2.5em;
	padding: 10px;
}

.personal-data {
	margin-bottom: 10px;
}

.icon_flag_inactive {
	height: 50px;
	margin: 10px;
	position: relative;
    right: 30px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

.icon_flag_active {
	height: 50px;
	margin: 10px;
	position: relative;
    right: 30px;
}

li {
	list-style: none;
}

.photo {
	height: 250px;
	text-align: center;
	margin: 0 auto;
	border-radius: 10%;
}

.icon-description-row {
	width: 100%;
	display: inline-flex;
}

.extras-row {
	display: inline-block;
}

.icon-column {
	width: 5%;
}

.description-column {
	width: 95%;
}

.fa-arrow-right {
	display:block;
    text-align:center;
}

.date-column {
	width: 20%;

}

.description-date-column {
	width: 80%;

}

.date {
	text-align: center;
	vertical-align: middle;
	/*line-height: 5px; */
}

.container {
	margin-bottom: 20px;
}

.header {
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	background-color: black;
	color: white;
	margin-bottom: 10px;
	font-size:large;
}

.strength {
	margin-bottom: 10px;
}

.bold {
	font-weight: 900;
}

footer {
	font-size: x-small;
}
