
body, html {
height: 100%;
  margin: 0;
  
  color: #777;
}

.flag-menu {
	height: 17px;
	margin-right: 10px;
}

.parallax, .parallax2 {
	position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
    background-image: url("../images/photo.jpg");
    min-height: 100%;
}

.photo {
	height: 100%;
	width:100%;
}

.parallax2 {
    background-image: url("../images/polandball.png");
    min-height: 75%;
}



.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;

  font-size: 25px;
  letter-spacing: 10px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  line-height:100%;
}

.container-fluid {
	height: 100%;
	width: 100%;
	margin: auto 0;
}

.container {
	height: 100%;
	
	margin: auto 0;
}