
body, html {
height: 100%;
  margin: 0;
  
  color: #777;
}

.flag-menu {
	height: 17px;
	margin-right: 10px;
}



.parallax {
    /* The image used */
    background-image: url("../images/photo.jpg");
    /*background-color: #eee;*/
    
    /* Full height */
    
    min-height: 100%;


    /* Create the parallax scrolling effect */
    position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
	height: 100%;
}

.parallax2 {
    /* The image used */
    background-image: url("../images/polandball.png");
    /*background-color: #eee;*/
    
    /* Full height */
    
    width: 100%;
    min-height: 100%;


    /* Create the parallax scrolling effect */
    position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



.caption p.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 75%;
  text-align: center;
  color: #000;
/*  line-height:100px;*/
}
